<!DOCTYPE html>
<html lang="en">
<head>
    {{#with app}}
        <meta charset="utf-8"/>
        <meta content="ie=edge" http-equiv="x-ua-compatible"/>
        <meta content="application/json" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="#000000" name="theme-color"/>
        <meta content="{{description}}" name="description"/>
        <meta content="{{keyword}}" name="keyword"/>
        <meta content="index, follow" name="robots"/>
        <meta content="browserconfig.xml" name="msapplication-config"/>
        <link href="{{publicURL}}static/media/logo192x192.png" rel="apple-touch-icon"/>
        <link href="{{publicURL}}favicon.ico" rel="icon"/>
        <link href="{{publicURL}}manifest.json" rel="manifest"/>
        <title>{{title}} v{{version}}</title>
    {{/with}}
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="app">
    {{#if app-partial-block}}
        {{> @partial-block}}
    {{/if}}
</div>
</body>
</html>